body {
		background-color: #f2e9d8;
		color: #999999;
		font-family: Verdana, Arial, sans-serif;
}

h1 {
	background-color: #ccaa66;
	color: #725926;
	line-height: 200%;
	text-align: center;
}

#nav {
		text-align: center;
}

#footer {
			background-color: #ccaa66;
			color: #725926;
			font-size: .60em;
			font-style: italic;
			text-align: center;
}

#wrapper {
			width: 80%;
			margin-right: auto;
			margin-left: auto;
}