body {
		background-color: #e5d4b2;
		color: #985532;
		font-family: Verdana, Arial, sans-serif;
}

h1 {
	background-color: #cc8865;
	color: #ffffff;
	line-height: 200%;
	text-align: center;
}

#nav {
		text-align: center;
}

#footer {
			background-color: #cccc65;
			color: #000000;
			font-size: .60em;
			font-style: italic;
			text-align: center;
}

#wrapper {
			width: 80%;
			margin-right: auto;
			margin-left: auto;
}